/* .body{
  background: ;
} */
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.card{
  display: grid;
  row-gap: 50px;
  column-gap: 10px;
  grid-template-columns: 325px 325px 325px 325px;
  padding: 0px;
  margin: 100px 5px 0 5px ;

} 
.itemss{
  background-color: rgb(97, 97, 150);
  border : 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15%;
  font-size: 30px;
  text-align: center;
  box-shadow: 1rem 1rem rgba(117, 98, 98, 0.1);
  cursor: pointer;
}
.itemss:hover{
  outline: .2rem solid rgb(5, 39, 49);
  outline-offset: 0;
}
.itemss img{
  height: 20rem;
  
}
.itemss:hover img{
  transform: scale(.9);
}
.App h1{
  font-family:Luckiest Guy;
 letter-spacing: 3px;
}

 

